@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  justify-content: center;
}

.card-bg {
  width: 350px;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 200px;
  border-radius: 15px;
}

body {
  background-color: green;
}

.simbol,
.simbol-mirror {
  width: auto;
  height: 150px;
  font-size: 100px;
}

.num {
  width: auto;
  height: 155px;
  font-size: 110px;
}

.simbol-mirror {
  transform: scaleY(-1);
}

p.text-button {
  font-size: 25px;
}

button {
  width: 350px;
  height: 60px;
}
